.imageContainer {
  width: 100%;
  padding: 10px 0;
}

.imageContainer > span {
  position: unset !important;
}

.imageContainer .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
