.gradient {
    background: rgb(238, 174, 200);
    background: linear-gradient(
            45deg,
            rgba(238, 174, 200, 1) 0%,
            rgba(148, 187, 233, 1) 100%
    );
    background-size: 400%;
    animation: gradient 5s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
