<% if (theme.catalog.enable && toc(page.content)) { %>
  <div id="btn-catalog" class="btn-catalog">
    <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-catalog"></use>
    </svg>
  </div>
  <div class="post-catalog hidden" id="catalog">
    <div class="title"><%= __('catalog') %></div>
    <div class="catalog-content">
      <%- toc(page.content, { "list_number": false }) %>
    </div>
  </div>
<% } %>
