.l_header #wrapper .nav-main .title {
  display: flex;
}
.l_header #wrapper .nav-main .title img {
  height: 40px !important;
}

@media screen and (max-width: 500px) {
  .l_header .container {
    margin-top: 8px;
  }
}
