.l_header #wrapper .nav-main .title {
  display: flex;
}
.l_header #wrapper .nav-main .title img {
  height: 40px !important;
}

@media screen and (max-width: 500px) {
  .l_header .container,
  .l_header #wrapper .nav-main {
    height: 100%;
  }
}

/* 代码块适配暗色模式 */
:root {
  --code-color: #fafafa;
}

.hljs {
  background: var(--code-color) !important;
  transition: all 0.5s ease !important;
}

[data-user-color-scheme='dark'] {
  --code-color: #c7c7c7;
}
