@import './variables.css';
@import './icon-font.css';
/* header */
@import './nav/nav.css';
/* index */
@import './index/index.css';
/* post */
@import './post/post.css';
/* resposive */
@import './responsive.css';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 10px;
  letter-spacing: 0.01rem;
  font-family: Consolas, 'Liberation Mono', Menlo, Monaco, 'Source Han Sans CN',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  display: flex;
  flex-flow: column;
  height: 100%;
}

body.hidden {
  overflow: hidden;
  padding-right: 6px;
}

/*控制整个滚动条*/
::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 6px;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}

/*滚动条中滑块部分*/
::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, 0.5);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a4a4a4;
}

a {
  color: #666;
  text-decoration: none;
  background-color: transparent;
  transition: color 0.3s;
}

a:hover {
  color: black;
}

.tag-details .time-m-d,
.archives .time-m-d,
.category-details .time-m-d {
  margin: 0 30px;
}

.content {
  clear: both;
  padding: 0 20px;
}

.content-title {
  font-size: 2.5rem;
  color: #666;
  margin-bottom: 20px;
}

.article-list {
  margin-left: 4rem;
}

.footer {
  height: 60px;
  max-height: 60px;
  font-size: 1.2rem;
  color: #aaa;
  margin-top: auto;
}

.social {
  padding-bottom: 5px;
}

.social ul {
  text-align: center;
}

.social ul li {
  display: inline-block;
  padding: 0 5px;
}

.footer-more {
  padding-bottom: 5px;
  text-align: center;
}

.tag-list li {
  font-size: 1.6rem;
  display: inline-block;
  padding: 10px;
}

.tag-list li .tag-list-link {
  position: relative;
  padding: 0 2px;
  border-radius: 2px;
}

.tag-list-count,
.category-list-count {
  padding: 0 5px;
  color: #aaa;
  font-size: 1.2rem;
  vertical-align: top;
}

.category-list .category-list-item {
  font-size: 1.6rem;
  padding: 5px 0;
}

.category-list .category-list-item .category-list-child {
  padding-left: 30px;
}

.friend-list-item {
  font-size: 1.6rem;
  padding: 10px;
}

.friend-list-item .nickname {
  padding-right: 10px;
}

.back-to-top {
  position: fixed;
  right: 2.2rem;
  bottom: 2.2rem;
  font-weight: bold;
}

.back-to-top.hidden {
  display: none;
}

.search-icon {
  position: fixed;
  right: 2.2rem;
  bottom: 2.2rem;
  font-weight: bold;
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s ease;
  visibility: visible;
  padding-right: 6px;
}

.search-overlay.hidden {
  background-color: transparent;
  visibility: hidden;
  transition: visibility 0s linear 0.2s, background-color 0.2s;
  padding-right: 0;
}

.search-overlay.hidden .search-content {
  position: relative;
  top: 15%;
  opacity: 0;
}

.search-content {
  position: relative;
  top: 18%;
  opacity: 1;
  background-color: transparent;
  z-index: 999;
  border-radius: 10px;
  margin: 0 2rem;
  transition: top 0.2s ease, opacity 0.2s ease;
  outline: 0;
}

.search-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  padding: 0 8px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.search-input {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  padding: 0 10px;
  font-size: 1.6rem;
  height: 38px;
  line-height: 38px;
}

.search-result {
  max-height: 350px;
  overflow: auto;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 8px;
}

.search-result ul {
  padding: 10px;
}

.search-result-list li {
  list-style-type: none;
  padding: 10px;
  font-size: 1.6rem;
  border-bottom: 1px dashed #eee;
}

.search-result-list li:nth-last-of-type(1) {
  border-bottom: none;
}

.search-result-abstract {
  padding: 10px 10px 0 10px;
  font-size: 1.2rem;
  color: #666;
}

.search-keyword {
  color: #e96900;
}

.local-search-empty {
  font-size: 1.6rem;
}

/* 搜索框 权重 */
@media (min-width: 768px) {
  .search-content {
    width: 520px;
    margin: 0 auto;
  }
}

.search-btn {
  border: 0;
  background-color: transparent;
}

/* 分页 */
.divigation-icon {
  margin-left: 6px;
  margin-right: 6px;
  vertical-align: -0.2em;
}

/* go top */
.go-top {
  border: 0;
  background: transparent;
  cursor: pointer;
}
