@media (max-width: 1200px) and (min-width: 887px) {
  .index .container,
  .friend-index .friend-list,
  .archives .container,
  .tag-index .tag-list,
  .about-index .markdown-body {
    padding: 0 20px;
  }
  .post-navigation {
    padding: 20px 20px;
  }
}

@media (max-width: 888px) {
  .post-navigation {
    padding: 20px 0;
  }
  .navbar ul li {
    margin: 0 10px;
  }
  .index .container,
  .friend-index .friend-list,
  .archives .container,
  .tag-index .tag-list,
  .about-index .markdown-body {
    padding: 0;
  }
  .category-index .category-list {
    padding: 0 40px;
  }
  .btn-catalog {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    height: 24px;
    width: 24px;
    padding: 10px;
    z-index: 999;
    color: #666;
  }
  .btn-catalog i {
    font-size: 24px;
  }
  .post-catalog {
    top: 44px !important;
    bottom: unset !important;
    right: 0 !important;
    width: unset !important;
    display: flex;
    justify-content: flex-end;
    padding: 10px !important;
    background-color: #fff;
    box-shadow: -1px 2px 5px 0px #999;
    opacity: 0.9;
    z-index: 9;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: top 0.2s ease, opacity 0.2s ease;
  }
  .post-catalog.hidden {
    opacity: 0 !important;
    top: 0 !important;
  }
  .post-catalog .title {
    display: none;
  }
  .post-catalog .catalog-content {
    height: unset !important;
  }
  .back-to-top {
    opacity: 0;
    z-index: -1;
  }
  .navbar ul li {
    margin: 0 10px;
  }
  .time-m-d {
    margin-right: 15px;
  }
  .tag-details .time-m-d,
  .archives .time-m-d {
    margin: 0 15px;
  }
  .container {
    width: 90%;
  }
  .post-divigation {
    padding: 20px 0;
  }
}

@media (max-width: 768px) {
  .navbar ul li {
    margin: 0 10px;
  }
  .time-m-d {
    margin-right: 15px;
  }
  .tag-details .time-m-d,
  .archives .time-m-d {
    margin: 0 15px;
  }
  .container {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .navbar ul li {
    margin: 0 3px;
  }
  .container {
    width: 90%;
  }
}
