:root {
  /* color setting */
  --theme-color: #ff8080;
  --theme-color-weak: #ffe5e5;
  --color-text: #333;
  --text-color: var(--color-text);
  --color-em: #111;
  --color-strong: #000;
  --color-weak: #595959;
  --color-weakest: #808080;

  --md-char-color: #ff4d4d;
  --meta-content-color: var(--color-weakest);

  --color-title: var(--color-em);
  --color-title-h1: var(--color-em);
  --color-title-h2: var(--color-em);
  --color-title-h3: var(--color-em);
  --color-title-h4: var(--color-em);
  --color-title-h5: var(--color-em);
  --color-title-h6: var(--color-em);

  --color-quote: var(--color-weak);
  --color-code: var(--color-text);
  --color-link: var(--theme-color);
  --color-italic: var(--color-em);
  --color-strong: var(--color-strong);
  --color-highlight: var(--color-strong);
  --color-strike: var(--color-weakest);
  --color-footnote: var(--color-weak);

  --thead-color: var(--color-em);
  --tbody-color: var(--color-text);
  --tbody-color-opt: var(--color-text);
  --color-thead-hover: var(--color-weak);
  --color-tbody-hover: var(--color-weak);

  --link-hover-color: #464343;
  --link-hover-bg: none;

  /* padding-setting */
  --padding-text: 1px 4px;
  --padding-block: 1.5rem;

  /* background setting */
  --bg-contents: #f1f1f1;
  --bg-write: #fff;
  --bg-color: var(--bg-contents);
  --bg-title: none;
  --bg-title-h1: none;
  --bg-title-h2: none;
  --bg-title-h3: none;
  --bg-title-h4: none;
  --bg-title-h5: none;
  --bg-title-h6: none;

  --bg-quote: #f2f2f2;
  --bg-code: #ffe5e5;
  --bg-code-block: #f2f2f2;
  --bg-link: none;
  --bg-italic: none;
  --bg-strong: none;
  --bg-highlight: #ffb3b3;
  --bg-strike: none;
  --bg-footnote: none;

  --bg-thead: var(--theme-color-weak);
  --bg-tbody: var(--bg-write);
  --bg-tbody-opt: #fcfcfc;
  --bg-thead-hover: var(--bg-contents);
  --bg-tbody-hover: var(--bg-contents);

  /* font setting:font-weight;font-size;line-height;font-family */
  --font-hei: 'Poppins', -apple-system, 'Helvetica Neue', Helvetica, 'Noto Sans',
    'Nimbus Sans L', Arial, 'Liberation Sans', 'Noto Sans CJK SC', 'PingFang SC',
    'Hiragino Sans GB', 'Source Han Sans SC', 'Source Han Sans CN',
    'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti',
    SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif;
  --font-song: 'EB Garamond', Georgia, 'Nimbus Roman No9 L', 'Noto Serif CJK SC',
    'Songti SC', 'Source Han Serif SC', 'Source Han Serif CN', STSong,
    'AR PL New Sung', 'AR PL SungtiL GB', NSimSun, SimSun, 'TW\-Sung',
    'WenQuanYi Bitmap Song', 'AR PL UMing CN', 'AR PL UMing HK',
    'AR PL UMing TW', 'AR PL UMing TW MBE', PMingLiU, MingLiU, serif;
  --font-kai: 'EB Garamond', Bas kerville, Georgia, 'Liberation Serif', STKaiti,
    'AR PL UKai CN', 'AR PL UKai HK', 'AR PL UKai TW', 'AR PL UKai TW MBE',
    'AR PL KaitiM GB', KaiTi, KaiTi_GB2312, DFKai-SB, 'TW\-Kai', serif;
  --font-mono: 'Cascadia Code', 'Sarasa Term SC', Monaco, 'Deja Vu Sans Mono',
    Consolas, 'Lucida Console', 'Andale Mono', Courier, 'PingFang SC',
    'Noto Sans CJK SC';
  --monospace: var(--font-mono);

  --font-quote: 400 1.25rem/1.875rem var(--font-kai);
  --font-code: 1.5rem var(--font-mono);
  --font-link: 400 var(--text-font-size) var(--font-hei);
  --font-italic: italic 600 var(--text-font-size) var(--font-song);
  --font-strong: 800 var(--text-font-size) var(--font-song);
  --font-highlight: 400 var(--text-font-size) var(--font-hei);
  --font-strike: 200 var(--text-font-size) var(--font-hei);
  --font-footnote: 400 1.1rem/1.65rem var(--font-kai);

  --font-weight: 400;
  --font-size: 1rem;
  --line-height: 2rem;
  --font-family: var(--font-hei);

  /* margin setting:top;right;bottom;left */
  --margin-h1: 6rem auto 4rem;
  --margin-h2: 4rem auto 2rem;
  --margin-h3: 2rem auto 1rem;
  --margin-h4: 2rem auto 1rem;
  --margin-h5: 2rem auto 1rem;
  --margin-h6: 2rem auto 1rem;

  --margin-text: 1rem auto;
  --margin-block: 1.5rem auto;

  /* border setting */
  --base-border: 1px solid #ff8080;
  --thin-border: 1px solid #ff4d4d;
  --thick-border: 4px solid #ff4d4d;
  --divide-border: 1px solid #f2f2f2;
  --dashed-border: 1px dashed #4d97ff;
  --dashed-border-opt: 1px dashed #ff4d4d;
  --window-border: var(--divide-border);

  /* box-shadow */
  --text-shadow: none;
  --block-shadow: 0px 8px 16px 1px #0000001a;
  --block-shadow-opt: 0px 8px 16px #00000044;
  --block-shadow-weak: 0 8px 16px 0 #b3b3b333;
  --block-shadow-strong: #00000033 0px 25px 56px 0px, #0000001a 0px 5px 15px 0px;
}
