.wrapper {
  @apply overflow-hidden rounded-lg;
  @apply mb-8 shadow-card;
  font-size: 16px;
}

.wrapper pre {
  margin: unset;
  border-radius: unset;
}

.wrapper .loading span {
  margin: unset;
}
