.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-navigation {
  font-size: 1.5rem;
  text-align: right;
  color: #666;
}

/* 导航 */
.post-navigation .page-num {
  padding: 0 10px;
}

/* 文章列表 */
.post-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.container {
  display: flex;
  flex-flow: column;
  width: 50%;
  margin: auto;
}

.container ul {
  margin: 0 4%;
}

/* 文章分页 */
.post-divigation {
  display: flex;
  padding: 20px 90px;
  justify-content: flex-end;
  font-size: 1.5rem;
  text-align: right;
  color: #666;
}
