#post-details {
  display: flex;
  justify-content: center;
}
/* .container .post-details {
  display: flex;
  justify-content: center;
} */

.category-index .category-list {
  padding: 0 110px;
}

.btn-catalog {
  display: none;
}

.post-item {
  display: flex;
  font-size: 1.6rem;
  margin-bottom: 20px;
  align-items: center;
  line-height: 21px;
}

.post-item .time-m-d {
  flex-shrink: 0;
  margin-right: 30px;
  color: #666;
  font-size: 1.5rem;
  line-height: 21px;
  /*font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;*/
}

.post-item .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-item .title .post-top {
  font-weight: 600;
  font-size: 1.7rem;
  padding-right: 8px;
  color: #535353;
}

.post-details .post-title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  color: #666;
  padding-bottom: 10px;
}

.post-details .post-attach {
  font-size: 1.4rem;
  text-align: center;
  padding-bottom: 30px;
  color: #666;
}

.prev-or-next {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  margin: 3rem 0;
  border-top: 1px solid rgba(88, 88, 88, 0.1);
}

.prev-or-next .post-foot-next,
.prev-or-next .post-foot-prev {
  white-space: nowrap;
}

.prev-or-next .post-attach {
  opacity: 0.9;
  font-size: 1.2rem;
  padding: 0 30px;
}

.post-attach .post-pubtime,
.post-attach .post-tags,
.post-attach .post-categories {
  padding: 0 10px;
}

.post-catalog {
  position: absolute;
  top: calc(290px + 88px + 30px);
  right: 50px;
  width: calc(20% - 50px);
  font-size: 1.4rem;
  padding-left: 10px;
}

.post-catalog .title {
  color: #666;
  font-size: 1.65rem;
  font-weight: bold;
  padding: 5px 0;
}

.catalog-content {
  overflow: auto;
}

.post-catalog .toc-child {
  padding-left: 10px;
}

.post-catalog li {
  list-style-type: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 2;
}

.toc-link {
  position: relative;
  padding: 3px 5px;
  opacity: 0.8;
  border-left: 2px solid transparent;
}

.toc-link.active {
  color: black;
  opacity: 1;
}

.toc-link:hover::after {
  content: '';
  position: absolute;
  left: 3px;
  bottom: 0;
  width: 8px;
  height: 90%;
  background-color: gray;
  opacity: 0.3;
  border-radius: 3px;
}

.toc-link.active::after {
  content: '';
  position: absolute;
  left: 3px;
  bottom: 0;
  width: 8px;
  height: 90%;
  background-color: gray;
  opacity: 0.5;
  border-radius: 3px;
}
