::selection {
  color: unset;
  background: rgba(33, 150, 243, 0.2);
}

#write {
  @apply text-gray-600;
}

#table-of-contents {
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 0.02em;
  line-height: 2rem;
  text-transform: uppercase;
  color: #797979;
  white-space: nowrap;
}
#table-of-contents + ul {
  padding-left: 30px;
  margin: 16px;
  max-height: 40rem;
  overflow: auto;
  scrollbar-width: none;
}
#table-of-contents + ul li {
  list-style-type: none;
  position: relative;
  margin: 8px 0;
}
#table-of-contents + ul li ul {
  padding-left: 15px;
}
#table-of-contents + ul li::before {
  @apply text-rua-gray-100;
  content: ' - ';
  position: absolute;
  font-weight: bold;
  font-size: 2rem;
  transform: translate(-1.4rem, -1rem);
}
#table-of-contents + ul li li::before {
  @apply text-rua-gray-100 top-[50%];
  @apply transform-gpu translate-x-[-1rem] translate-y-[-50%];
  content: ' · ';
  position: absolute;
  font-size: 1.5rem;
}
#table-of-contents + ul::-webkit-scrollbar {
  width: 0;
}


#write h1 {
  font-size: 3.25rem;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 4rem;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 4rem 0;
}

#write h2 {
  font-size: 1.999rem;
  font-weight: normal;
  letter-spacing: 0.02em;
  line-height: 2rem;
  padding: 1rem 0;
}

#write h3 {
  font-size: 1.413rem;
  font-weight: normal;
  letter-spacing: 0.02em;
  line-height: 3rem;
}

#write h4 {
  font-weight: normal;
  letter-spacing: 0.02em;
  font-size: 1.25rem;
  line-height: 2rem;
  margin-top: 1rem;
}

#write h5 {
  font-size: 1.15rem;
}

#write h6 {
  font-size: 1rem;
}

#write p {
  margin: 1rem 0;
}

#write blockquote::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: calc(0.1rem + 2px);
  height: 100%;
  transform: translateX(calc(-0.05rem - 1px));
  background-image: linear-gradient(#fbebef, #dff0f5);
  border-radius: calc(0.5rem + 0.25%) 0 0 calc(0.5rem + 0.25%);
  z-index: 1;
}

@media (min-width: 575px) {
  #write blockquote::before {
    width: calc(0.1rem + 0.5%);
  }
}

#write blockquote {
  position: relative;
  word-spacing: 0.06em;
  margin: 0.5rem 0;
  padding: 1rem calc(0.5rem + 5px);
  background-color: #f8f8f8;
  line-height: 1.6;
  border-radius: 0 calc(0.5rem + 0.25%) calc(0.5rem + 0.25%) 0;
}

@media (min-width: 575px) {
  #write blockquote {
    padding: 1rem calc(0.5rem + 1%);
    border-radius: 0 calc(0.5rem + 0.25%) calc(0.5rem + 0.25%) 0;
  }
}

#write blockquote::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
}

#write blockquote blockquote {
  box-shadow: none;
}

#write blockquote p {
  margin: unset;
  line-height: unset;
}

#write ul,
#write ol {
  padding-left: 30px;
  margin: 16px;
}

#write ul li {
  list-style-type: none;
  position: relative;
  margin: 8px 0;
}

#write ul li::before {
  content: ' - ';
  position: absolute;
  font-weight: bold;
  font-size: 2rem;
  color: #aabfc5;
  transform: translate(-1.4rem, -1rem);
}

#write ul li li::before {
  content: ' · ';
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  color: #aabfc5;
  transform: translate(-1rem, -0.75rem);
}

#write input + p {
  display: inline-block;
}

#write input[type='checkbox'] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
}

#write input[type='checkbox']::before {
  content: '';
  position: absolute;
  transform: translate(calc(-1.1rem - 10px), calc(-1rem));
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  padding: 0.15rem;
  background-color: white;
  background-clip: content-box;
  box-sizing: border-box;
  border: solid 0.15em #c3c4d0;
}

#write input[type='checkbox']:checked::before {
  content: '';
  position: absolute;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  padding: 0.15rem;
  background-color: #a8c8da;
  background-clip: content-box;
  box-sizing: border-box;
  border: solid 0.15rem #a8c8da;
}

#write input[type='checkbox'] + p {
  color: inherit;
}

#write input[type='checkbox']:checked + p {
  color: #c3c4d0;
}

#write pre {
  position: relative;
  margin: 10px 0;
}

#write pre code {
  @apply bg-gray-100;
  padding: 6px 10px;
}

#write code,
#write tt {
  @apply bg-gray-100 rounded-md;
  padding: 0 4px;
  font-size: 0.9em;
}

#write table {
  @apply border border-gray-100;
  width: 100%;
  border-collapse: collapse;
}

#write th {
  @apply bg-gray-100;
}

#write td,
#write th {
  position: relative;
  border: solid 1px #e7eaed;
  padding: 0.8em 0.5rem;
}

#write mark {
  color: #fff;
  background-color: rgba(231, 153, 176, 0.68);
  border-radius: 0.2em;
  padding: 0.1em 0.2em;
}

@media print {
  #write input[type='checkbox']::before {
    display: none;
  }
  #write ul li::before {
    display: none;
  }
  #write ul li li::before {
    display: none;
  }
  #write input[type='checkbox'] {
    appearance: initial;
    -moz-appearance: initial;
    -webkit-appearance: initial;
  }
  #write ul li {
    list-style-type: initial;
  }
}
