#article {
  @apply text-lg;
}

#article .toc {
  @apply my-4;
}

#article .toc li {
  list-style-type: none;
}

#article p {
  margin: 1em 0;
}

#article h1 {
  font-weight: bold;
  text-align: center;
  word-break: break-word;
  @apply text-gray-800 dark:text-gray-200;
  @apply mt-8 text-5xl font-Barlow;
}

#article time {
  display: block;
  text-align: center;
  @apply text-gray-400 dark:text-gray-600;
  @apply mt-8 mb-10;
}

#article h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

#article h2:hover::before,
h3:hover::before,
h4:hover::before,
h5:hover::before,
h6:hover::before {
  content: '#';
  left: -1.7rem;
  @apply absolute text-gray-400;
}

#article h2 {
  @apply relative text-3xl;
  @apply text-gray-700 dark:text-gray-200;
  @apply mt-8 mb-2;
}

#article h3 {
  @apply relative text-2xl;
  @apply mt-6 mb-2;
}

#article h4 {
  @apply relative text-xl;
  @apply mt-6 mb-2;
}

#article h5 {
  @apply relative;
  @apply mt-4 mb-2;
}

#article h6 {
  @apply relative;
  @apply mt-2 mb-2;
}

#article table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  margin-top: 0;
  margin-bottom: 16px;
}

#article td,
#article th {
  padding: 0;
}

#article details summary {
  cursor: pointer;
}

#article table th {
  font-weight: 600;
}

#article table th,
#article table td {
  padding: 6px 13px;
}

#article thead tr:first-child {
  @apply border-t-0;
}

#article table tr {
  background-color: var(--color-canvas-default);
  border-top: 1px solid var(--color-border-muted);
}

#article table tr:nth-child(2n) {
  background-color: var(--color-canvas-subtle);
}

#article table img {
  background-color: transparent;
}

#article blockquote {
  margin: 0;
  padding: 0 1em;
  color: var(--color-fg-muted);
  border-left: 0.25em solid var(--color-border-default);
}

#article kbd {
  display: inline-block;
  padding: 3px 5px;
  font:
    11px ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  line-height: 10px;
  color: var(--color-fg-default);
  vertical-align: middle;
  background-color: var(--color-canvas-subtle);
  border: solid 1px var(--color-neutral-muted);
  border-bottom-color: var(--color-neutral-muted);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 var(--color-neutral-muted);
}

#article hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid var(--color-border-muted);
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: var(--color-border-default);
  border: 0;
}

#article hr::before {
  display: table;
  content: '';
}

#article hr::after {
  display: table;
  clear: both;
  content: '';
}

#article code,
#article tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: var(--color-neutral-muted);
  border-radius: 6px;
}

#article pre > code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

#article code,
#article kbd,
#article pre,
#article samp {
  font-size: 16px;
  word-break: break-word;
}

#article mark {
  background-color: var(--color-attention-subtle);
  color: var(--color-text-primary);
}

#article sub,
#article sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

#article sub {
  bottom: -0.25em;
}

#article sup {
  top: -0.5em;
}

#article ol li:not(.toc-list-item) {
  list-style-type: auto;
}

#article ul li {
  list-style-type: initial;
}

#article ul.no-list,
#article ol.no-list {
  padding: 0;
  list-style-type: none;
}

#article ol[type='1'] {
  list-style-type: decimal;
}

#article ol[type='a'] {
  list-style-type: lower-alpha;
}

#article ol[type='i'] {
  list-style-type: lower-roman;
}

#article div > ol:not([type]):not(.toc-list) {
  list-style-type: decimal;
}

#article ul,
#article ol:not(.toc-list) {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

#article ol ol,
#article ul ol {
  list-style-type: lower-roman;
}

#article ul ul ol,
#article ul ol ol,
#article ol ul ol,
#article ol ol ol {
  list-style-type: lower-alpha;
}

#article dd {
  margin-left: 0;
}

#article .sp-layout > .sp-stack {
  height: 400px;
}

@media screen and (max-width: 768px) {
  #article .sp-layout > .sp-stack {
    height: auto;
  }
}

#article img {
  border-radius: 6px;
}

#article .cm-editor .cm-line {
  font-size: 15px;
  font-family:
    var(--font-jetbrains-mono),
    -apple-system,
    monospace;
}
